* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NAVBAR STYLING BY MANSUR */

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 6rem;
  height: 7rem;
  background-color: #ffffff;

  /* Fixed Nav bar - William */
  position: fixed;
  top: 0;
}

/* fix overlay of nav bar - William */

main {
  margin-top: 32px;
}

/* End of nav bar fix - William */

.logo img {
  width: 70px;
}

header nav {
  display: flex;
  align-items: center;
  justify-self: center;
}

nav ul {
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 1rem;
  list-style-type: none;
}

nav ul li a {
  position: relative;
  text-decoration: none;
  color: #006e7f;
  padding: 1rem;
  font-size: 1.1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul li a::before {
  position: absolute;
  content: '';
  width: 0;
  height: 2px;
  bottom: 5px;
  background-color: #f8cb2f;
  transition: 0.4s;
}

nav ul li a:hover::before {
  width: 80%;
}

/* END OF MY STYLE MANSUR */

.orange {
  color: orange;
  margin: 0;
  font-size: 25px;
}
.orange1 {
  color: orange;
  font-size: 26px;
  margin: 0;
}

.blue {
  color: blue;
  margin: 0;
  font-size: 25px;
}

.blue1 {
  font-size: 50px;
  color: blue;
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.container {
  height: 600px;
  padding: 70px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.container img {
  width: 100%;
  height: 500px;
}

p {
  font-size: 1.4rem;
  margin-bottom: 12px;
}

.social a {
  align-items: center;
  background-color: #ee5007;
  border-radius: 50%;
  display: inline-flex;
  font-size: 1rem;
  height: 2rem;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 1.2rem;
  width: 2rem;
}

button {
  padding: 1em 1.1em 0.1em;
  border-radius: 20px;
  margin: 8px;
  border: none;
  background-color: orange;
}
h1 {
  color: white;
  font-weight: 800;
  font-size: 0.85em;
  text-align: center;
  box-shadow: 0em --0.2rem 0em #f5f5dc inset;
  transition: color 0.3s ease-out;
}

button:hover {
  background-color: transparent;
  color: #8b4513;
  border: 3px solid #e2e273;
  cursor: pointer;
}

@media (max-width: 850px) {
  .container {
    margin-top: 10px;
    flex-direction: column;
  }
  .p {
    width: 100%;
    text-align: center;
  }
}

body {
  font-family: 'Poppins', sans-serif;
}

#footer {
  margin: auto;
  background-color: grey;
  text-align: center;
  font-size: larger;
  color: white;
}

h2 {
  font-size: 40px;
  margin: auto;
  text-align: center;
  color: white;
}

/* projects css */
.proj-img {
  width: 300px;
  height: 300px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
}
.projects {
  display: flex;
  border: bold;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 10px 20px;
}
.proj-tile {
  border-color: black;
  margin-left: 10px;
  margin-right: 10px;
  background-color: lightcyan;
  padding: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  transition: 1s, ease-in-out;
  scroll-behavior: smooth;
}

.proj-tile:hover {
  background-color: lightpink;
}

h3 {
  text-align: center;
  margin: 15px;
  font-family: cursive;
  color: darkblue;
}

.text {
  font-size: 20px;
  margin: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.read-more {
  padding: 15px;
  color: blue;
  font-weight: bold;
  text-decoration: none;
}

.icons {
  font-size: 40px;
}
